<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Modbus配置-->
    <add key="进窑工控机IP" value="192.168.0.76"/>

    <add key="进窑工控机Port" value="502"/>

    <!--采集周期（ms）-->
    <add key="采集周期" value="1000"/>



    <!--Socket-->
    <add key="SocketTimeOut" value="1000"/>
    <!--起始位置-->
    <add key="StartingAddress" value="0"/>

    <!--数据库连接字符串加密-->
    <add key="useEncrypt" value="false"/>

    <!--日记位置-->
    <add key="日记位置" value="进窑工位变化.log"/>
    <add key="错误日记位置" value="进窑错误日记位置.log"/>

    <!--公司名称-->
    <add key="生产企业" value="中国水利水电第七工程局有限公司福州管片厂"/>


  </appSettings>


  <connectionStrings>
    <add name="Xiucai.DbConnection" providerName="System.Data.SqlClient"
         connectionString="server=47.100.126.101;uid=yf1;pwd=905E27CF6F8CCF0CF5259F9B4DCE1F;database=SThree"/>
  </connectionStrings>
</configuration>